In [2]:
import pandas as pd
import pickle
import numpy as np

In [3]:

with open ("tabela_1_1config.pkl", mode ='rb') as f:
        tabela = pickle.load(f)

In [250]:
def verificar(objeto):
    if str(type(objeto)).find("Series") != -1:
        return False
    else:
        print('errado')
        return True

In [249]:
def batimentos(scan, bpm):
    
    global tabela

    bpm = pd.Series(bpm)

    if verificar(tabela.get(scan)): # caso n√£o tenha o scan
        tabela[scan] = bpm
    else:
        x = tabela.get(scan)
        tabela[scan] = pd.concat([x,bpm], ignore_index = True)

In [251]:
tabela = {}
batimentos("001", 72)

errado

In [252]:
batimentos("001", 78)

In [253]:
batimentos('001', 75)

In [254]:
tabela

{'001': 0    72
 1    78
 2    75
 dtype: int64}

In [256]:
tab = pd.DataFrame(tabela)

In [257]:
tab

     001  003
0   72.0   59
1   78.0   56
2   75.0   43
3    NaN   59
4    NaN   49
5    NaN   70
6    NaN   45
7    NaN   46
8    NaN   64
9    NaN   56
10   NaN   54
11   NaN   57
12   NaN   66
13   NaN   58
14   NaN   42
15   NaN   52
16   NaN   43

In [255]:
import random
for i in range(1,18):
    batimentos('003',random.randint(40,70) )

errado

In [235]:
s = pd.Series([1], index=None)

In [10]:
import time
from datetime import datetime
from pytz import timezone

In [13]:
import datetime

x = datetime.datetime.now()

In [14]:
print(x)

2023-03-08 15:19:26.003755

In [11]:
timestamp = time()
dt = datetime.fromtimestamp(timestamp, tz = timezone("America/Sao_Paulo"))
timestamp_bpm = dt.strftime("%d/%m/%Y %H:%M:%S")

TypeError: 'module' object is not callable

In [234]:
s

0    1
dtype: int64

In [187]:
a = [1, 2 , 4]

myvar = pd.Series(a)

b = [4]

var = pd.Series(b)

juntar = pd.concat([myvar,var])

c = [7]

v = pd.Series(c)

j = pd.concat([juntar, v])

print(j)

0    1
1    2
2    4
0    4
0    7
dtype: int64

In [3]:
with open ("tabela_1_1config.pkl", mode ='rb') as f:
        tabela = pickle.load(f)